:root{
    --primary-color:#E91E63;
    --secondary-color:#D81B60;
    --green-color:#4CAF50;
    --green-hover:#388E3C;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    position: relative;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    gap: 5%;
    z-index: 999;
    background-color: white;
    

}



.header .logo, .footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    cursor: pointer;
    font-weight: bolder;
    
}

.header .logo i, .footer .logo i{
    font-size: 30px;
    color: var(--secondary-color);
    text-shadow: 1px 3px;
}

.header .logo li, .footer .logo li{
    text-transform: uppercase;
    font-weight: bolder;
   
}

.header .logo #imbuto{
    color: var(--primary-color);
}



.header .logo #love, .footer .logo #love{
    font-size: xx-small;
}



.header .nav-links{
    display: flex;
    gap: 10%;
    list-style: none;

}

.header .nav-links a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-weight: bolder;
    
}

.header .nav-links #home{
    color: var(--primary-color);
    text-decoration: underline;
}

.header .nav-links a:active {
   color: var(--secondary-color);
   

}

.header .nav-links li{
    position: relative;
}

/* .header .nav-links li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.6vh;
    left: 0;
    background-color: #E91E63;
    top: 30px;


} */

.header .donate{
    background-color: var(--secondary-color);
    padding: 5px 8px;
    border-radius: 20px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bolder;

}

.header .donate:hover{
    background-color: var(--primary-color);
}

.show-menu{
    display:none;
    cursor: pointer;

}

/* Menu links style on mobile */
.mobile-menu{
    display: none;
    position: fixed;
    width: 100%;
    animation: showMenu 0.5s ease;
    z-index: 1000;
    top: 0;
    background-color: white;
    height: 100vh;
    background-image: url('5.jpeg');
    background-position: center;
    background-size: cover;
    

}

.mobile-menu .content{
    background-color: rgba(255, 255, 255, 0.76);
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.mobile-menu .head{
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.826);
    display: flex;
    justify-content: space-between;
}

.mobile-menu .head ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #D81B60;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 1px 0px;
    font-size: larger;
}

.mobile-menu .head i{
    font-size: 30px;
    cursor: pointer;
    text-shadow: 1px 3px var(--primary-color);
}
.mobile-menu .head #close-menu{
    font-size: 50px;
}

.mobile-menu .menu-links{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.mobile-menu .menu-links li{
    justify-content: center;
    align-items: center;
    display: inline;
    border-top: solid var(--secondary-color);
    width: 100%;
    text-align: center;
    font-size: larger;
    
}


.mobile-menu .menu-links li a{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    font-size: larger;
    font-weight: bolder;
    
    
}

.mobile-menu .menu-links li a i{
    color: var(--primary-color);
}
.mobile-menu .menu-links li:hover{
    background-color: var(--secondary-color);
    color: white;
}


/* donate-methods section style */

.donate-methods{
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    animation: slide 1s ease;
    display: none;
    width: 95%;
    background-color: #222;
    
    
}

.donate-methods .head{
    position: relative;
    display: flex;
    gap: 5px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bolder;
    padding: 10px 10px;

}

.donate-methods .head li i{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: 23px;
}

.donate-methods .head li i:hover, .mobile-menu .head i:hover{
    animation: spin 1s ease-in-out;
}

.donate-methods .methods{

    display: flex;
    justify-content: center;
    align-items: center; 
    margin:0 auto;
    gap: 10px;
    padding: 30px;
   
}



.donate-methods .methods ul a li{
    display: flex;
    gap: 5px;
    color: #D81B60;
    border-radius: 25px;
    font-weight: bolder;
    border: #D81B60 solid 2px;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 5px 30px;
    justify-content: center;
    background-color: white;


    
}

.donate-methods .methods ul a li:hover{
    background-color: #E91E63;
    color: white;
    border: white solid;
}

.donate-methods ul img{
    width: 50px;
}

.donate-methods .methods-details{
    background-color: blanchedalmond;
    color: black;
    
    padding: 20px;
    font-weight: bolder;
    text-align: center;
    
}

.donate-methods .methods-details ul{
    margin: 0.5rem;
    
}

.donate-methods .methods-details ul li{
    background-color: white;
    color: var(--secondary-color);
    white-space: nowrap;
    padding: 20px 30px;
    border: var(--secondary-color) solid 1px;

}



/* Hero section style */

.hero{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 35vh;
    background-image: url("1.jpeg");
    background-size: cover;
    background-position: center;
    
}

.hero .spread{
    padding: 20px 50px;
    color: white;
    position: relative;
    background: linear-gradient(125deg, #711634,#711634, rgba(0,0,0,0));
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 15%;
   
}

.hero .spread .title{
    font-weight: bolder;
    position: relative;
}
.hero .spread .love{
    color: var(--primary-color);
}

.hero .spread .title::after{
    content: '';
    position: absolute;
    width: 30px;
    background-color: antiquewhite;
    height: 0.2px;
    top: 40px;

}

.hero .spread .desc{
    margin-top: 1rem;
    font-size: small;
    white-space: wrap;
}

.hero .spread .content{
    font-size: x-small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero .spread .spreadButtons{
    display: flex;
    width: 100%;
    gap: 20%;
    
    
}

.hero .spread button{
    padding: 5px 8px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    white-space: nowrap;
    cursor: pointer;


}

.hero .spread #join-us{
    background-color: var(--secondary-color);
    color: white;
}

.hero .spread #learn-more {
    color: var(--secondary-color);
}

.hero .motto{
    background-color: white;
    width: 20%;
    position: absolute;
    right: 10%;
    top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Poppins',
        sans-serif;;
}


.hero .motto ul, .social-links .motto ul{
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-weight: bolder;
}



.hero .motto ul::after , .social-links .motto ul:after{
    content: '';
    position: absolute;
    width: 50%;
    background-color: var(--secondary-color);
    height: 0.3vh;
    top: 45px;
    left: 10%;
    right: 10%;
    margin:0 auto;
}

.hero .motto .motto-eng, .social-links .motto .motto-eng{
    color: var(--secondary-color);
    white-space: nowrap;
    font-weight: bolder;
    
    
}

.hero .motto .motto-kiny, .social-links .motto .motto-kiny{
    width: 70%;
    text-align: center;
    font-weight: bolder;
}

.hero .motto i, .social-links .motto i{
    font-size: 50px;
    color: var(--secondary-color);
}

.hero .motto ul i {
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: small;
}

/* section links style */

.links-content{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
    gap: 10px;
    padding: 10px;
    
}

.links-content .card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    border-right: #2222 1px solid;
    
}

.links-content .card:last-child{
    border-right: unset;
}

.links-content .card .head{
    display: flex;
    gap: 10px;
    color: var(--green-color);
    font-weight: bolder;
    white-space: nowrap;

}

.links-content .card .head li{
    position: relative;
}

.links-content .card .head li::after {
    content: '';
    position: absolute;
    background-color: var(--green-color);
    height: 1px;
    width: 100%;
    left: 0;
    top: 20px;

}

.links-content .card .details{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 1rem 0;
    
    
}

.links-content .card .details li {
    white-space: nowrap;
    padding: 5px;
}
.links-content .card .details li i{
    color: var(--green-color);
    margin-right: 0.2rem;
}

.links-content .card button{
    background-color: var(--green-color);
    color: white;
    border: none;
    border-radius: 25px;
    width: 60%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    
    white-space: nowrap;
}

.links-content #gallery .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
   
}

.links-content #gallery img{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.links-content #members .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
}
.links-content #members .row{
    display: flex;
    gap: 5px;
   
}

.links-content #members .row ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 30px;

    background-color: #2222;
    border-radius: 5px;
    font-weight: bolder;
   
}

.links-content #members .row ul .name{

    white-space: wrap;
    
}

.links-content #members img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Statistics Section style */

.statistics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    padding: 10px 30px;

}

.statistics .group{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.statistics .group i {
    
    font-size: 30px;
}
.statistics .group .number{
    font-weight: bolder;
    font-size: x-large;
}

.statistics .group .name {
   
    font-size: x-small;
    white-space: nowrap;
}

/* social links style */

.social-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: rgba(218, 206, 192, 0.452);
    padding: 10px 20px;
}



.social-links .group, .social-links .motto{
    padding: 20px;
    border-right: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    
}

.social-links .motto{
    border: none;
}

.social-links .group .contacts{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-links .group ul{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.social-links .group ul li a{
    display: flex;
    gap: 10px;
    
}

.social-links .group ul li a i{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 20px;
}

.social-links .group ul li #whatsApp{
    color: var(--green-color);
}

.social-links .group .contacts ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
   
}

.social-links .group h1{
    color: var(--primary-color);
    white-space: nowrap;
    position: relative;
    font-weight: bolder;
    font-size: large;
    margin: 30px 0;
}

.social-links .group h1::after{
    content: '';
    position: absolute;
    width: 50%;
    right: 0;
    height: 1px;
    background-color: var(--primary-color);
    left: 0;
    margin: 0 auto;
    bottom: -0.7rem;
}

.social-links .group .contacts i{
   color: var(--secondary-color);
   font-size: 30px;

}


.social-links #g-image{
    display: none;
    
}


/* fotter style */

.footer{
    position: relative;
    padding: 20px 30px;
    background-color: var(--primary-color);
    font-size: small;
    display: flex;
    flex-direction: column;
   text-align: center;
   gap: 10px;
   color: white;
    
}

.footer .logo i{
    color: white;
    text-shadow: unset;
    font-size: 40px;
}

.footer .logo #imbuto {
    color: white;
    font-size: large;
}

.footer .logo #love {
    color: white;
    font-size: 12px;
    font-weight: normal;
}

.footer .content{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid ivory;
    padding: 10px 0px;
    color: white;
    
}

.footer h1{
    font-size: small;
    margin-bottom: 10px;
}

.footer .content .group a{
    color: white;
    font-size: smaller;
}

.footer .content .group .links{
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    gap: 50px;
}

.footer .content .group .connect{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}



.footer .connect .group ul{
    display: flex;
    justify-content: space-between;
}

.footer .content .group .connect ul{
    display: flex;
    gap: 10px;
}

.footer .content .group .connect ul i{
    font-size: 13px;
}
.footer .content .group .connect #sociaLinks{
    display: flex;
    gap: 35px;
}

.copyRight{
    font-size: x-small;
}



@keyframes slide {
    0% {
        transform: translateY(90px);
    }
}

@keyframes showMenu {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}
@media (max-width:786px){
    .header .nav-links{
        display: none;
    }
    .show-menu {
        display: block; 
        font-size: 25px; 
    }

    .donate-methods{
        width: 75%;
        
    }

    .donate-methods .methods{
        flex-direction: column;
    }
    

    .hero{
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        width: 98%;
        position: relative;

    }

    .hero .spread{
        width: 76%;
    }
    .hero .spread .content {
        margin-top: 1rem;
    }
    .hero .spread .spreadButtons {

        margin-top: 1rem;  
     }

    .hero .motto{
        position: relative;
        width: 80%;
        margin:0 auto;
        margin: 1rem;
        right: unset;
    }

    .links-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
       
        
    }

    .links-content .card{
        border-right: unset;
        border-bottom: 1px solid ;
        justify-content: center;
        align-items: center;
        width: 100%;
       
    }
    .links-content .card:last-child{
        border-bottom: unset;

    }

    .links-content .card .details{
        padding: 20px;
    }

    .links-content .card button{
        margin-bottom: 1rem;
    }

    .links-content #gallery img{
        width: 90px;
    }

    .links-content #members .row {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 5px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
          
    }

    .links-content #members .row ul{
        padding: 15px;
        
    }

    .statistics{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        flex-direction: column;
        margin: 0;
        border-radius: 0 0;
    }

    .social-links{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .social-links .group{
        border-bottom: 0.5px solid;
        border-right: unset;
       
    }

    .social-links .motto {
        border: unset;
    }
    .footer .content {
        gap: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

    
}
