
.header{
    
    height: 20px;
    border-bottom: 3px solid var(--primary-color);
}
.header .nav-links #about {
    color: var(--primary-color);
    text-decoration: underline;
}

.header .nav-links #home {
    color: black;
    text-decoration: unset;
}

.header .imbuto{
    
    display: none;

}

.header a {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    


}

.header .logo img {
    width: 8%;
    margin-right: auto;
    object-fit: fill;
    aspect-ratio: 1/1;

}

.header a .logo .imbuto{
    display: flex;
    gap: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: auto;
    position: absolute;
    left: 3rem;
}

.header a .imbuto .love{
    color: var(--primary-color);
}


.hero{
    background-image: url(/2.jpg);
    height: 50vh;
    display: none;
}

.hero .motto{
    height: 100%;
}


.about{
    width: 100%;
    display: flex;
    gap: 10px;
    height: 100%;
    margin-top: 3rem;
    height: 80vh;
    
}

.about img{
    width: 50%;
    height: 100%;
}

.about .about-content{
    
    width: 50%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    
}


.about .about-content  ul li{
    list-style: circle;
}



@media (max-width:768px) {

    .header{
        height: 30px;
        padding-bottom: 20px;
    }
    .header a .logo .imbuto {
        display: none;
        margin-left: -1.3rem;
    }

    .header .imbuto{
        display: flex;
        text-transform: uppercase;
        font-weight: bolder;
        position: absolute;
        left: 13%;
    }

    .header .imbuto .love {
        color: var(--primary-color);
    }

    .header .logo img {
        width: 30%;
        

    }

    .about{
        margin: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 20px;
    }

    .about img, .about .about-content{
        width: 100%;
        
    }
}

@media (width:768px) and (height:1024px) {
    .header .logo img {
        width: 100%;
        
    }

    .header .nav-links{
        display: flex;
    }

    .header .imbuto, .header .show-menu{
        display: none;
    }


}

@media  (width:540px) and (height:720px){
    .header .logo img {
        width: 15%;
    }
    

}

@media (width:912px) and (height:1368px) {
    .header .logo img {
        width: 15%;
    }

}



@media (width:1024px) and (height:1366px) {
    .header .logo img{
        width: 15%;
    }

}

@media (max-width:1024px){
    .header .logo img {
            width: 15%;
        }


}

@media (width:344px) and (height:882px) {
    .header .logo img {
        width: 35%;
    }

}


